.depend*
*.patchset/
*.gumtree/
Makefile.local
full-trace.log
results/

*/results/linuxes/project
*/results/linuxes/Makefile

*/*/results/linuxes/project
*/*/results/linuxes/Makefile

# Binary files
*.o
*.cm[iox]

# This file is based on .hc.base and CPP expansion
study.hc
notes.hc
common.local.sh
