logger "" {
  level = trace;
  filter = all;
(* layout = simple; *)
  layout = default;
  mode = direct;
  output = file;
  name = "full-trace.log";
}

(*
logger "Config" {
  level = trace
  filter = all;
  layout = default;
  mode = direct;
  output = void;
  name = "<stderr>";
}

logger "Diff" {
  level = trace;
  filter = all;
  layout = default;
  mode = direct;
  output = void;
}
*)
